/*mengatur desain header*/
header {
  background: #ebb02d;
  color: #fff;
  padding: 35px 20px;
  font-size: 30px;
  font-weight: bold;
}
header h1 {
  margin-left: 50px;
}
h1 button {
  padding: 10px;
  font-size: 50px;
}

.container {
  display: flexbox;
  /* width: 100%; */
  position: relative;
}

/*mengatur lebar menu 20% dengan background hitam*/
aside {
  display: inline-block;
  flex: 20%;
  position: absolute;
  background: #2a2f4f;
  width: 15%;
  height: 950px;
  font-size: 25px;
}
nav {
  display: none;
  font-size: 25px;
}
nav .menu a {
  color: #000;
  border-bottom: 1px solid #878787;
}

/*mengatur lebar konten utama 80% dengan background putih*/
main.main {
  flex: 80%;
  background: #fff;
  min-height: 900px;
  padding: 15px 20px;
  margin-left: 15%;
}

.jumbotron {
  display: block;
  text-align: center;
  border-radius: 10px;
  background-image: linear-gradient(rgba(0, 9, 30, 0.6), rgba(0, 9, 30, 0.6)), url("../images/ff.JPG");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: rgba(255, 255, 255, 0.797);
  padding: 90px 0;
}
.jumbotron h3 {
  font-size: 50px;
  font-weight: 500;
  margin-top: 20px;
}
.jumbotron h1 {
  font-size: 55px;
  font-weight: bold;
  color: #ebb02d;
}

/* mengatur desain judul halaman dengan border dibawah */
.judul {
  color: #555;
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
}

/* mengatur agar lebar tabel penuh dan antar border tidak memiliki jarak */
.table {
  width: 80%;
  margin-top: 20px;
  border-collapse: collapse;
  font-size: 20px;
}

/* menambah border dan pandding pada sel tabel */
.table th,
.table td {
  border: 1px solid #ccc;
  padding-left: 10px;
}

/* mengatur background bagian judul */
.table th {
  padding: 10px 0;
  background: #eee;
}
.table td {
  padding: 20px 10px;
}

tbody tr td img {
  width: 150px;
  height: 200px;
}

/* mengatur desain tombol yang dibuat dengan tag <a> */
.tombol {
  display: inline-block;
  max-width: 150px;
  padding: 15px 30px;
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  background: #038ade;
  cursor: pointer;
}

/* desain tombol edit dan hapus agar lebih kecil */
.tomboledit,
.tombolhapus {
  padding: 10px 15px;
  font-size: 20px;
  text-decoration: none;
  color: #fff;
}
.tombolhapus {
  background: #fc4c4c;
}
.tomboledit {
  background: #038ade;
}

/*membersikan float*/
.clear {
  clear: both;
}

/*mengatur footer dengan font abu abu dan tesk di tengah*/
footer {
  position: relative;
  background: #ccc;
  color: #555;
  padding: 20px;
  text-align: center;
}

/* mengatur layout pada layar kecil (responsive) */
@media (max-width: 985px) {
  nav {
    display: block;
  }
  aside {
    display: none;
  }
  main.main {
    width: 100%;
    flex: 100%;
    margin-left: 0;
    padding: 5px 0;
    min-height: 500px;
  }
}

/* navigasi */
/* membuat padding tag <ul> */
.menu {
  padding: 0;
}

/* membuat border bawah tag <li> */
.menu li {
  border-bottom: 1px dotted #444;
}

/* mengatur desain menu yang dibuat dengan tag a */
.menu a {
  display: block;
  padding: 20px 20px;
  list-style: none;
  color: #fff;
  text-decoration: none;
}

/* mengatur backgound menu ketika ditunjuk mouse */
.menu a:hover {
  background: #000;
}
